PORT=8080
POSTGRES_HOST=127.0.0.1
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
CACHE_HOST=127.0.0.1
CACHE_USER=default
CACHE_PASSWORD=my_awesome_cache_password
CACHE_PORT=6379
WEBHOOKS_ENABLED=false
DISCORD_WEBHOOK_URL=https://example.com/webhook
CIST_CLIENT_ID=your_cist_client_id
PROXY_BASE_URL=http://127.0.0.1:5035
MOODLE_BASE_URL=https://dl.nure.ua
